body
{
    background: #0c070a;
    color: white;
    text-align: center;
    margin-bottom: 150px;
}


.titre{
    margin-bottom: 50px;
}

.test
{
    color: red;
    text-align: center;
    margin-top: 20px;
}

.btnprofil
{
    background-color: #AECAFB;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    width: 100px;
    border: 2px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

hr
{
    height: 0.5px;
    width: 50%;
    background-color: #AECAFB;
    border: none;
}

.imgprofil
{
    margin-bottom: 50px;
    border-radius: 50px;
}

.ajouter
{
    background-color: #AECAFB;
    color: black;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
    border: 2px;
    border-radius: 100px;
    font-size: 25px;

}
.article
{
    margin: auto;
}






