@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
*, *::after, *::before {
  box-sizing: border-box; }

.box{
    border: 2px solid #AECAFB;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 50px;
}

.toggle-button {
  margin: 0 20px; }

/*
 * Toggle button styles
 */
.toggle-button {
  position: relative;
  display: inline-block;
  color: #fff; }
  .toggle-button label {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left; }
  .toggle-button input {
    display: none; }
  .toggle-button__icon {
    cursor: pointer;
    pointer-events: none; }
    .toggle-button__icon:before, .toggle-button__icon:after {
      content: "";
      position: absolute;
      top: 45%;
      left: 35%;
      transition: 0.2s ease-out; }

/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--tuli label {
  line-height: 20px;
  text-indent: 30px; }

.toggle-button--tuli input[type=checkbox]:checked ~ .toggle-button__icon {
  background: #fff; }
  .toggle-button--tuli input[type=checkbox]:checked ~ .toggle-button__icon:before, .toggle-button--tuli input[type=checkbox]:checked ~ .toggle-button__icon:after {
    opacity: 1; }

.toggle-button--tuli .toggle-button__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  border: 2px solid #fff;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .toggle-button--tuli .toggle-button__icon:before, .toggle-button--tuli .toggle-button__icon:after {
    top: 5px;
    left: 2px;
    width: 12px;
    height: 2px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    top: 35%;
    background: #61B136;
    opacity: 0;
    transform-origin: left center; }
  .toggle-button--tuli .toggle-button__icon:before {
    transform: translate(0, 0) rotate(45deg) scale(0.6, 1); }
  .toggle-button--tuli .toggle-button__icon:after {
    transform: translate(4px, 6px) rotate(-45deg); }

.toggle-button--tuli:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.confirmer
{
    background-color: #AECAFB;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: 2px;
    border-radius: 10px;
}

